src/logicApps/productEmail.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Append_to_string_variable_2": {
                "inputs": {
                    "name": "emailRecipients",
                    "value": "; tyler.ulrich@gmail.com; lusia.li@yahoo.com"
                },
                "runAfter": {
                    "For_each_2": [
                        "Succeeded"
                    ]
                },
                "type": "AppendToStringVariable"
            },
            "For_each": {
                "actions": {
                    "Append_to_string_variable": {
                        "inputs": {
                            "name": "productTable",
                            "value": "<tr><td>@{items('For_each')['productName']}</td><td>@{items('For_each')['productDescription']}</td><td>@{items('For_each')['productId']}</td></tr>"
                        },
                        "runAfter": {},
                        "type": "AppendToStringVariable"
                    }
                },
                "foreach": "@body('Get_Products_as_Array')",
                "runAfter": {
                    "Get_Products_as_Array": [
                        "Succeeded"
                    ]
                },
                "runtimeConfiguration": {
                    "concurrency": {
                        "repetitions": 1
                    }
                },
                "type": "Foreach"
            },
            "For_each_2": {
                "actions": {
                    "For_each_3": {
                        "actions": {
                            "Append_to_emailRecipients": {
                                "inputs": {
                                    "name": "emailRecipients",
                                    "value": "@{items('For_each_3')?['address']}; "
                                },
                                "runAfter": {},
                                "type": "AppendToStringVariable"
                            }
                        },
                        "foreach": "@items('For_each_2')['emailAddresses']",
                        "runAfter": {},
                        "type": "Foreach"
                    }
                },
                "foreach": "@body('Get_contacts_(V2)')?['value']",
                "runAfter": {
                    "Initialize_emailRecipients": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Get_Products": {
                "inputs": {
                    "method": "GET",
                    "uri": "https://serverlessohapi.azurewebsites.net/api/GetProducts"
                },
                "runAfter": {
                    "Initialize_ProductTable": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Get_Products_as_Array": {
                "inputs": {
                    "content": "@body('Get_Products')",
                    "schema": {
                        "items": {
                            "properties": {
                                "productDescription": {
                                    "type": "string"
                                },
                                "productId": {
                                    "type": "string"
                                },
                                "productName": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "productId",
                                "productName",
                                "productDescription"
                            ],
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "runAfter": {
                    "Get_Products": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "Get_contacts_(V2)": {
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "office365"
                        }
                    },
                    "method": "get",
                    "path": "/codeless/v1.0/me/contactFolders/@{encodeURIComponent(encodeURIComponent('AQMkADMxZmMwM2EyLWU0NzItNDYxNS1hMDZlLTIwYzFiMjBkMTZhOQAuAAADlHq5Vyq9v0K8_hnHX_mUkwEAECxIOibcO06NiaHiNxz7DAAAAgEOAAAA'))}/contacts"
                },
                "runAfter": {
                    "Initialize_Email_Body": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Initialize_Email_Body": {
                "inputs": {
                    "variables": [
                        {
                            "name": "emailBody",
                            "type": "string",
                            "value": "<!DOCTYPE html>\n<html>\n<body style=\"background-color: whitesmoke; color: #454545; font-family:'Gill Sans',\n 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; padding-bottom: 3em;\">\n  <table style=\"width:100%; color:#454545\">\n    <tr>\n      <td style=\"width:11em;\">\n        <img style=\"margin-left:1em;\"\n        src=\"https://serverlessoh.azureedge.net/public/ice-cream-2202561_320-circle.jpg\"\n          height=\"160\" width=\"160\" alt=\"Fruit Ice Cream\">\n      </td>\n      <td>\n        <p style=\"font-style: italic; font-size: 50px;\n        font-weight:600; margin-left: 1em;\">Best For You Organics</p>\n      </td>\n    </tr>\n  </table>\n  <p style=\"text-align: center; font-style: italic; font-size:\n  80px;\">New Ice Cream Line!</p>\n  <p style=\"margin:2em 0em; font-size: 20px; text-align: center;\">\n  Best For You Organics have a new line of fruit flavored ice creams.\n  Below is the information so you can start the ordering process:\n  </p>\n  <table style=\"width:100%; border-top: 1px solid #454545;\n  border-bottom: 1px solid #454545; color:#454545; padding: 1em; font-size: 20px;\">\n    <thead>\n      <tr>\n        <th style=\"padding-bottom: 1em;\" align=\"left\">Ice Cream</th>\n        <th style=\"padding-bottom: 1em;\" align=\"left\">Description</th>\n        <th style=\"padding-bottom: 1em;\" align=\"left\">Product ID</th>\n      </tr>\n    </thead>\n    <tbody style=\"font-size: 16px;\">\n@{variables('productTable')}\n    </tbody>\n  </table>\n  <p style=\"text-align: center; margin-top: 3em;font-size: 20px;\">Please contact\n  your representative at Best For You Organics to get more information..</p>\n</body>\n</html>"
                        }
                    ]
                },
                "runAfter": {
                    "For_each": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_ProductTable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "productTable",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Initialize_emailRecipients": {
                "inputs": {
                    "variables": [
                        {
                            "name": "emailRecipients",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Get_contacts_(V2)": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Response": {
                "inputs": {
                    "body": "@variables('emailRecipients')",
                    "statusCode": 200
                },
                "kind": "http",
                "runAfter": {
                    "Send_an_email_(V2)_2": [
                        "Succeeded"
                    ]
                },
                "type": "Response"
            },
            "Send_an_email_(V2)_2": {
                "inputs": {
                    "body": {
                        "Body": "<p>@{variables('emailBody')}</p>",
                        "Importance": "Normal",
                        "Subject": "test logic app",
                        "To": "@variables('emailRecipients')"
                    },
                    "host": {
                        "connection": {
                            "referenceName": "office365"
                        }
                    },
                    "method": "post",
                    "path": "/v2/Mail"
                },
                "runAfter": {
                    "Append_to_string_variable_2": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "manual": {
                "inputs": {},
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "kind": "Stateful"
}